<div class="w-full py-10 bg-aubergine">
  <div class="max-w-screen-md mx-auto">
    <div class="flex flex-row flex-wrap justify-center items-center mb-6 px-2">
      <a href="/" class="header_link__desktop ml-0 mb-2">Home</a>
      <a href="/solutions/for-devrels/" class="header_link__desktop mb-2">Solutions</a>
      <a href="/pricing/" class="header_link__desktop mb-2">Pricing</a>
      <a href="/blog/" class="header_link__desktop mb-2">Blog</a>
      <a href="/podcast/" class="header_link__desktop mb-2">Podcast</a>
      <a
        href="https://docs.orbit.love/developers"
        rel="noopener noreferrer"
        class="header_link__desktop mb-2"
      >Developers</a>
      <a href="/about-us/" class="header_link__desktop mb-2">About</a>
      <a href="/careers/" class="header_link__desktop mb-2">Careers</a>
      
      <a
        href="https://github.com/orbit-love/"
        rel="noopener noreferrer"
        class="header_link__desktop mb-2"
        ><img
          alt="GitHub"
          style="width: 20px; display: inline;"
          src="/assets/images/GitHub-Mark-Light-32px.png"
      /></a>

      <a
        href="https://twitter.com/OrbitModel"
        rel="noopener noreferrer"
        class="header_link__desktop ml-4 mb-2"
        ><img
          alt="Twitter"
          style="width: 22px; display: inline;"
          src="/assets/images/Twitter-Mark-Light-32px.png"
      /></a>
    </div>
    <div class="flex flex-row justify-center items-center">
      <a href="/privacy-policy/" class="header_link__desktop text-xs ml-0 mb-2"
        >Privacy Policy</a
      >
      <a href="/terms-of-service/" class="header_link__desktop text-xs mb-2">Terms of Service</a>
    </div>
    <p class="text-xs text-center text-white">Orbit is a registered trademark of Orbit Labs, Inc.</p>
  </div>
</div>
