<div class="w-full py-10 bg-aubergine">
  <div class="max-w-screen-md mx-auto">
    <div class="flex flex-row flex-wrap justify-center items-center mb-6">
      <a
        href="#"
        class="header_link__desktop ml-0 mb-2"
        >Home</a
      >
      <a
        href="#"
        class="header_link__desktop mb-2"
        >Solutions</a
      >
      <a
        href="#"
        class="header_link__desktop mb-2"
        >Pricing</a
      >
      <a
        href="#"
        class="header_link__desktop mb-2"
        >Blog</a
      >
      <a
        href="#"
        class="header_link__desktop mb-2"
        >About Us</a
      >
      <a
        href="#"
        class="header_link__desktop mb-2"
        >Help</a
      >
      <a
        href="#"
        class="header_link__desktop mb-2"
        ><img style="width:20px;display:inline;" src="/assets/images/GitHub-Mark-Light-32px.png"></a
      >
      <a
        href="#"
        class="header_link__desktop ml-4 mb-2"
        ><img style="width:22px;display:inline;" src="/assets/images/Twitter-Mark-Light-32px.png"></a
      >
    </div>
    <div class="flex flex-row justify-center items-center">
      <a
        href="#"
        class="header_link__desktop text-xs ml-0 mb-2"
        >Privacy Policy</a
      >
      <a
        href="#"
        class="header_link__desktop text-xs mb-2"
        >Terms of Service</a
      >
    </div>
  </div>
</div>