{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(build.url) }}{%-
endset -%} {# General #}
<meta name="description" content="{{ description or meta.description }}" />
<link rel="canonical" href="{{ absolutePageUrl }}" />

{# Open Graph #}
<meta property="og:site_name" content="{{ meta.title }}" />
<meta property="og:title" content="{{ renderData.title or title or meta.title }}" />
<meta
  property="og:description"
  content="{{ renderData.description or description or meta.description }}"
/>
<meta property="og:url" content="{{ absolutePageUrl }}" />
<meta property="og:locale" content="{{ meta.locale }}" />
<meta
  name="twitter:card"
  content="summary_large_image"
/>
<meta
  name="twitter:site"
  content="@OrbitModel"
/>
<meta
  property="og:image"
  content="{{ renderData.mainImage or image or '/assets/images/og_image.png' | url | absoluteUrl(build.url) }}"
/>
<meta
  property="og:image:width"
  content="640"
/>
<meta
  property="og:image:height"
  content="364"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ '/assets/images/favicon/180x180.png' | url }}"
/>
<link
  rel="icon"
  type="image/png"
  href="{{ '/assets/images/favicon/32x32.png' | url }}"
  sizes="32x32"
/>
<link
  rel="icon"
  type="image/png"
  href="{{ '/assets/images/favicon/16x16.png' | url }}"
  sizes="16x16"
/>
<link
  rel="shortcut icon"
  href="{{ '/assets/images/favicon/favicon.ico' | url }}"
/>
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
<meta name="theme-color" content="#8369f7" />

{# RSS Feed #}
<link
  type="application/atom+xml"
  rel="alternate"
  href="{{ build.url }}/feed.xml"
  title="{{ meta.title }}"
/>
