# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# system
.DS_Store

# config
.env

# debug
npm-debug.log*

# caches
.cache

# output
/dist
