{% from "../macros/buttons.njk" import learn_more %}

<div class="mt-10 flex flex-col max-w-screen-md mx-auto">
    <div class="flex items-center justify-center">
        <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-10">

            <div class="w-full rounded shadow-lg">

                <div class="orbit-background p-5 w-full lg:max-w-full rounded shadow-lg">
                    <div class="mb-8">
                        <div class="text-white font-bold text-xl mb-2">Orbit Model</div>
                            <p class="text-white text-base">
                                Orbit’s unique approach is based on the Orbit Model, 
                                an open source alternative to the traditional sales and marketing 
                                funnel designed just for community.
                            </p>
                        </div>
                        <div class="flex items-center">
                            {{ learn_more("https://github.com/orbit-love/orbit-model", "Learn More") }}
                        </div>
                    </div>
                </div>

                <div class="feedback-background p-5 w-full lg:max-w-full rounded shadow-lg">
                    <div class="mb-8">
                        <div class="text-white font-bold text-xl mb-2">Share Your Feedback</div>
                            <p class="text-white text-base">
                                Have any feedback? We'd love to hear it!
                                Join us on <a href="#discord" class="ob-highlight">Discord</a> or send an email to <a href="mailto:team@orbit.love" class="ob-highlight">team@orbit.love</a>.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        
        </div>
    </div>
</div>