<div class="mt-10 flex flex-col items-center max-w-screen-md mx-auto">
<div class="flex items-center justify-center">

  <div class="grid grid-cols-2 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-10">

    <div class="w-full lg:max-w-full rounded shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Getting Started</div>
        <p class="text-gray-700 text-base">
          Learn how to create your Orbit Workspace, and begin creating members and activities on the platform.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <div class="flex flex-wrap -mx-12">
            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/getting-started#creating-a-new-orbit-account" class="underline text-purple-600">Accounts</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/the-member-profile-page" class="underline text-purple-600">Members</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/adding-activities" class="underline text-purple-600">Activities</a>
            </div>
        </div>        
      </div>
    </div>

    <div class="rounded shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Integrations</div>
        <p class="text-gray-700 text-base">
          Craft your Orbit account with the integrations you need using these officially supported integrations and tooling.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <div class="flex flex-wrap -mx-12">
            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/how-to-setup-the-orbit-github-integration" class="underline text-purple-600">GitHub</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/setup-the-twitter-integration" class="underline text-purple-600">Twitter</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/setup-the-orbit-discourse-integration" class="underline text-purple-600">Discourse</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/set-up-the-orbit-slack-integration" class="underline text-purple-600">Slack</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/install-the-orbit-slack-app" class="underline text-purple-600">Slack App</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/install-the-orbit-chrome-extension-for-github" class="underline text-purple-600">Chrome Extension</a>
            </div>
        </div>        
      </div>
    </div>

    <div class="rounded shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Orbit API</div>
        <p class="text-gray-700 text-base">
          View the Orbit API reference guide, create custom snippets and discover key API concepts.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <div class="flex flex-wrap -mx-12">
            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/reference#about-the-orbit-api" class="underline text-purple-600">About the API</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/reference#key-concepts" class="underline text-purple-600">Key Concepts</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/reference#guide-to-common-api-calls" class="underline text-purple-600">Common API Calls</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/reference#postman" class="underline text-purple-600">Import to Postman</a>
            </div>
        </div>        
      </div>
    </div>

    <div class="rounded shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Beta Features</div>
        <p class="text-gray-700 text-base">
          Learn about features in beta status and how to starting implementing them in your code.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <div class="flex flex-wrap -mx-12">
            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/set-up-the-orbit-discord-integration" class="underline text-purple-600">Discord Integration</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/webhooks" class="underline text-purple-600">Webhooks</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/alerts-and-destinations" class="underline text-purple-600">Alerts</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/search-changes-march-2021" class="underline text-purple-600">Search Changes</a>
            </div>
        </div>        
      </div>
    </div>

    <div class="rounded shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Community</div>
        <p class="text-gray-700 text-base">
          Connect with the Orbit developer community for collaboration, support, ideas and inspiration.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <div class="flex flex-wrap -mx-12">
            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/community-built-resources" class="underline text-purple-600">Community Created Resources</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.n8n.io/nodes/n8n-nodes-base.orbit/" class="underline text-purple-600">Orbit + n8n</a>
            </div>
        </div>        
      </div>
    </div>

    <div class="rounded shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Blog</div>
        <p class="text-gray-700 text-base">
          Read the latest from members of the Orbit engineering, product and devrel teams on the Orbit blog.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <div class="flex flex-wrap -mx-12">
            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/how-to-setup-the-orbit-github-integration" class="underline text-purple-600">GitHub</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/setup-the-twitter-integration" class="underline text-purple-600">Twitter</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/setup-the-orbit-discourse-integration" class="underline text-purple-600">Discourse</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/set-up-the-orbit-slack-integration" class="underline text-purple-600">Slack</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/install-the-orbit-slack-app" class="underline text-purple-600">Slack App</a>
            </div>

            <div class="my-2 px-12 w-1/4">
                <a href="https://docs.orbit.love/docs/install-the-orbit-chrome-extension-for-github" class="underline text-purple-600">Chrome Extension</a>
            </div>
        </div>        
      </div>
    </div>

  </div>
</div>




</div>
</div