{% macro request_access_button(inverted=false, extra_classes="") %}
  <div class="mb-6 rounded">
    <button
      class="cursor-pointer px-8 py-3 shadow-bottom text-base leading-6 font-bold rounded {{ 'text-purple-500 bg-white hover:text-purple-600' if inverted else 'text-white bg-purple-500 hover:text-gray-100' }} focus:outline-none focus:shadow-outline transition duration-150 ease-in-out {{ extra_classes }}"
      aria-label="Open early access form"
      @click="showModal = true"
    >
      Request access
    </button>
  </div>
{% endmacro %}

{% macro view_open_opportunities(inverted=false, extra_classes="") %}
  <div class="mb-6 rounded">
    <a
      href="/careers/#open-opportunities"
      class="cursor-pointer px-8 py-3 shadow-bottom text-base leading-6 font-bold rounded {{ 'text-purple-500 bg-white hover:text-purple-600' if inverted else 'text-white bg-purple-500 hover:text-gray-100' }} focus:outline-none focus:shadow-outline transition duration-150 ease-in-out {{ extra_classes }}"
    >
      View open opportunities
    </a>
  </div>
{% endmacro %}