
{% from "./separator.njk" import separator %}
{% from "./newsletter-cta-inline.njk" import newsletter_cta_inline %}

{% macro single_feature(emoji, title, content) %}
  <div class="sm:w-1/3 mb-6 flex flex-row px-6">
    <span class="mr-2 text-xl">{{ emoji }}</span>
    <div>
      <h2 class="text-xl font-bold mb-1">{{ title | safe }}</h2>
      <p class="text-gray-600 leading-snug">
        {{ content }}
      </p>
    </div>
  </div>
{% endmacro %}

{% macro single_feature_with_image(feature) %}
  <div class="max-w-screen-md mx-auto text-center">
    {% if feature.title %}
      <p class="text-2xl text-gray-600 leading-tight font-bold">{{ feature.title }}</p>
      {{ separator() }}
    {% endif %}
    <div class="max-w-screen-md mx-auto mb-10 sm:mb-20 text-center">
      <div class="flex flex-col-reverse sm:flex-row sm:items-center">
        <div class="sm:w-3/5 md:w:1/2 sm:px-8">
          <img
            alt=""
            class="sm:max-w-md px-4 sm:px-0 sm:float-right"
            src="{{feature.image_src}}"
          />
        </div>
        <div class="px-6 mt-4 sm:mt-0 sm:px-0 sm:w-2/5 md:w-1/2 flex flex-col text-left">
          <div class="sm:w-2/3">
            {% for section in feature.sections %}
              <p class="text-2xl sm:text-4xl text-gray-600 font-bold mb-1 leading-tight">{{ section.title | safe }}</p>
              <p class="text-lg leading-snug text-gray-600 mb-8">
                {{ section.content | safe }}
              </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro double_feature_with_images(title, feature1, feature2, vertical_offset_class="") %}
  <div class="max-w-screen-md mx-auto text-center">
    {% if title %}
      <p class="text-2xl text-gray-600 leading-tight font-bold">{{ title }}</p>
      {{ separator() }}
    {% endif %}
    <div class="sm:mt-10 flex flex-col-reverse sm:flex-row sm:items-center">
      <div class="sm:w-2/3 sm:px-8">
        <img
          alt=""
          class="px-4 sm:px-0 sm:float-right"
          src="{{ feature1.image_src }}"
        />
      </div>
      <div class="mb-4 sm:mb-0 px-4 sm:px-8 sm:w-1/3 flex flex-col text-left">
        {% for section in feature1.sections %}
          <p class="text-2xl sm:text-4xl text-gray-600 font-bold mb-1 leading-tight">{{ section.title | safe }}</p>
          <p class="text-lg leading-snug text-gray-600">
            {{ section.content | safe }}
          </p>
        {% endfor %}
      </div>
    </div>
    <div
      class="sm:relative mt-4 {{vertical_offset_class}} flex flex-col-reverse sm:flex-row-reverse sm:items-center"
    >
      <div class="sm:w-2/3 sm:px-8">
        <img
          alt=""
          class="px-4 sm:px-0 sm:float-right"
          src="{{feature2.image_src}}"
        />
      </div>
      <div class="mb-4 sm:mb-0 px-4 sm:px-8 sm:w-1/3 flex flex-col text-left">
        {% for section in feature2.sections %}
          <p class="text-2xl sm:text-4xl sm:text-right text-gray-600 font-bold mb-1 leading-tight">{{ section.title | safe }}</p>
          <p class="text-lg leading-snug sm:text-right text-gray-600">
            {{ section.content | safe }}
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro integration(integration) %}
  <div class="max-w-screen-md mx-auto text-center">
    {% if integration.title %}
      <p class="text-2xl text-gray-600 leading-tight font-bold">{{ integration.title }}</p>
      {{ separator() }}
    {% endif %}
    <div class="max-w-screen-md mx-auto mb-10 sm:mb-20 text-center">
      <div class="flex flex-col-reverse sm:flex-row sm:items-center">
        <div class="hidden sm:block sm:w-3/5 md:w:1/2 sm:px-8">
          <img
            alt=""
            class="sm:max-w-xs px-4 sm:px-0 sm:block sm:mx-auto"
            src="{{integration.image_src}}"
          />
        </div>
        <div class="px-6 mt-4 sm:mt-0 sm:px-0 sm:w-2/5 md:w-1/2 flex flex-col text-left">
          <div class="sm:w-2/3">
            {% for section in integration.sections %}
              <p class="text-2xl sm:text-4xl text-gray-600 font-bold mb-1 leading-tight">{{ section.title | safe }}</p>
              {% if section.content %}
                <p class="text-lg leading-snug text-gray-600 mb-8">
                  {{ section.content | safe }}
                </p>
              {% else %}
                {{ newsletter_cta_inline(section.title | lower) }}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}