{% macro tag(name, color) %}
	{% switch color | lower %}
		{% case 'purple' %}
			{% set bgClass = "bg-purple-100" %}
		{% case 'gray' %}
				{% set bgClass = "bg-gray-100" %}
		{% case 'pink' %}
			{% set bgClass = "bg-gray-100" %}
		{% case 'red' %}
				{% set bgClass = "bg-red-100" %}
		{% case 'orange' %}
				{% set bgClass = "bg-orange-100" %}
		{% case 'green' %}
				{% set bgClass = "bg-green-100" %}
		{% case 'teal' %}
				{% set bgClass = "bg-teal-100" %}
		{% case 'blue' %}
				{% set bgClass = "bg-blue-100" %}
	{% endswitch %}
	<span class="px-2 py-1 mb-2 mr-2 rounded whitespace-nowrap inline-block {{bgClass}}">{{name}}</span>
{% endmacro %}