{% macro team_member(imagePath, name, title, twitterHandle, linkedInHandle, devHandle) %}

    <div class="w-2/3 sm:w-1/3 mb-8 px-4 flex flex-col items-center">
      <img
        alt=""
        src="/assets/images/team/{{ imagePath }}"
        class="rounded-full w-3/4 block mb-4"
      />
      <span class="text-gray-800 font-bold text-lg">{{ name }}</span>
      <span class="mb-2 text-sm text-gray-600">{{ title }}</span>
      <div class="w-full flex flex-row justify-evenly">
        {% if linkedInHandle %}
          <a
          href="https://www.linkedin.com/{{ linkedInHandle }}"
          class="text-sm text-purple-600"
          >LinkedIn</a
          >
        {% endif %}
          
        {% if twitterHandle %}
          <a href="https://twitter.com/{{ twitterHandle }}" class="text-sm text-purple-600"
          >Twitter</a
          >
        {% endif %}
        
        {% if devHandle %}
          <a href="https://dev.to/{{ devHandle }}" class="text-sm text-purple-600">DEV</a>
        {% endif %}
      </div>
    </div>

{% endmacro %}