{% macro title(text) %}
  <h1 class="mb-6 text-white text-4xl sm:text-5xl font-bold text-center leading-tight">
    {{ text | safe }}
  </h1>
{% endmacro %}

{% macro tagline(text) %}
  <p class="mb-10 text-white text-xl text-center">
    {{ text | safe }}
  </p>
{% endmacro %}

{% macro subhead(text) %}
  <div class="pt-10">
    <div class="mb-16 flex flex-col max-w-screen-sm px-4 md:px-0 mx-auto">
      <p class="text-gray-600 text-4xl text-center leading-tight">
        <span class="ob-highlight">{{ text | safe }}</span>
      </p>
    </div>
  </div>
{% endmacro %}