
<div id="for_builders_block" class="screenshot-slanted w-full" style="height: --single-view-slanted-height">
  <div class="pt-8 max-w-screen-md mx-auto mb-20 text-center">
    <p class="text-2xl text-white font-bold">Built for the builders</p>
    <hr class="w-10 mt-4 mb-10 border-2 border-white mx-auto" />
  </div>
  <div class="relative overflow-visible max-w-screen-sm px-4 md:px-0 mx-auto" style="top: -50px">
    <img class="float-left sm:w-1/2 mb-10 sm:mb-0" src="/assets/images/extension.png" />
    <div class="pl-10 mt-10 sm:pt-10 sm:w-1/2 flex flex-col text-left">
      <p class="text-lg text-white font-bold mb-4">Orbit data on GitHub</p>
      <p class="text-white">
        Our
        <a
          href="https://chrome.google.com/webstore/detail/orbit/ibgahekkldapaohbpmpbckmeljidicmn"
          rel="noopener noreferer"
          class="underline"
          >Chrome extension</a>
        adds useful developer information right into GitHub issues and PRs.
      </p>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="max-w-screen-sm mx-auto mb-10 flex flex-row flex-wrap">
  <div class="px-6 mt-4 mb-4 sm:mb-0 w-full sm:w-1/2 text-left">
    <p class="text-lg font-bold mb-4">Integrate our API</p>
    <p class="text-gray-600">
      Create members, add tags, edit notes, and save custom activities from anywhere.
      <a
        href=""
        rel="noopener noreferer"
        class="underline text-purple-600"
      >Read the docs to get started ››</a>
    </p>
  </div>
  <div class="px-6 mt-4 w-full sm:w-1/2 text-left">
    <p class="text-lg font-bold mb-4">Connect with Zapier</p>
    <p class="text-gray-600">
      Integrate with countless tools to create custom workflows based on triggers
      from Zapier apps.
    </p>
  </div>
</div>