{% from "../macros/separator.njk" import separator %}

<div class="max-w-screen-md mx-auto text-center">
  <p class="text-2xl text-gray-600 font-bold">View activity across your community and repos</p>
  {{ separator() }}
  <div class="mt-10 sm:flex sm:flex-row sm:items-start">
    <div class="sm:w-7/12 sm:px-8">
      <img
        alt=""
        class="px-4 sm:px-0 sm:float-right"
        src="/assets/images/maintainers-metrics-1.png"
      />
    </div>
  </div>
  <div
    class="ob-maintainers-metrics sm:relative sm:flex sm:flex-row-reverse sm:items-end md:items-center"
  >
    <div class="sm:w-7/12 sm:px-8">
      <img
        alt=""
        class="px-4 sm:px-0 sm:float-right"
        src="/assets/images/maintainers-metrics-2.png"
      />
    </div>
  </div>
</div>
