{% from "../macros/separator.njk" import separator %}
{% from "../macros/features.njk" import double_feature_with_images %}

{%
  set feature_search_box = {
    image_src: "/assets/images/maintainer-metrics-1.png",
    sections: [
      {
        title: "See what’s working, and&nbsp;where",
        content: "Understand the impact of your efforts across your community."
      }
    ]
  }
%}
{%
  set feature_identity_resolution = {
    image_src: "/assets/images/maintainer-metrics-2.png",
    sections: [
      {
        title: "Share the success",
        content: "Orbit generates daily and weekly community impact updates to help you stay in the loop."
      }
    ]
  }
%}

{{ double_feature_with_images("View activity across your community and repos", feature_search_box, feature_identity_resolution, "sm:-mt-8") }}