{% from "../macros/separator.njk" import separator %}
{% from "../macros/features.njk" import single_feature_with_image %}

{%
  set feature = {
    image_src: "/assets/images/profiles.png",
    sections: [
      {
        title: "View developer profiles",
        content: "View a developer’s favorite languages, areas of interest, and recent
            community activity at a glance.
            <strong>All automatically imported from GitHub</strong>."
      },
      {
        title: "Add activities via&nbsp;API",
        content: "Record members and contributions outside of GitHub via the Orbit API. Works great for
            contributions like documentation, events, and content."
      }
    ]
  }
%}
{{ single_feature_with_image(feature) }}