<div class="max-w-screen-md mx-auto mb-20 text-center">
  <p class="px-4 text-gray-900 text-2xl font-bold">Know exactly who submitted that PR</p>
  <hr class="w-16 mt-4 mb-10 border-4 border-purple-400 mx-auto" />
  <div class="mt-10 sm:flex sm:flex-row sm:items-center">
    <div class="sm:w-1/2 sm:px-8">
      <img
        alt=""
        class="sm:max-w-md px-4 sm:px-0 sm:float-right"
        src="/assets/images/profiles.png"
      />
    </div>
    <div class="px-6 mt-4 sm:mt-0 sm:px-0 sm:w-1/2 flex flex-col text-left">
      <div class="sm:w-2/3">
        <p class="text-xl text-gray-600 font-bold mb-1">
          Developer profiles
        </p>
        <p class="text-lg leading-snug text-gray-600 mb-8">
          View a developer’s favorite languages, areas of interest, and recent
          community activity at a glance.
          <strong>All automatically imported from GitHub.</strong>
        </p>
        <p class="text-xl text-gray-600 font-bold mb-1">Add activities via API</p>
        <p class="text-lg leading-snug text-gray-600">
          Record members and contributions outside of GitHub via the Orbit API. Works great for
          contributions like documentation, events, and content.
        </p>
      </div>
    </div>
  </div>
</div>
