<div class="mb-16 flex flex-col max-w-screen-sm px-4 md:px-0 mx-auto">
  <p class="mb-6 text-gray-600 text-2xl font-bold text-center leading-tight">
    Investors
  </p>
  <div class="flex flex-row items-center justify-center">
    <a href="https://a16z.com/" rel="noopener noreferrer" target="_blank">
      <img
        alt="Andreesen Horowitz is among our investors"
        src="/assets/images/investors/a16z.png"
        class="block object-contain mb-4"
        width="150"
      />
    </a>
    <a href="https://heavybit.com/" rel="noopener noreferrer" target="_blank">
      <img
        alt="Heavybit is among our investors"
        src="/assets/images/investors/heavybit-industries.png"
        class="block object-contain mb-4"
        width="150"
      />
    </a>
    <a
      href="https://www.harrisonmetal.com/"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        alt="Harrison Metal is among our investors"
        src="/assets/images/investors/harrison-metal.png"
        class="block object-contain ml-4 mb-4"
        width="125"
      />
    </a>
  </div>
</div>
