{% from "../macros/team.njk" import team_member %}

<div class="pt-10">
  <div class="mb-16 flex flex-col max-w-screen-sm px-4 md:px-0 mx-auto">
    <p class="mb-6 text-gray-600 text-2xl text-center leading-tight">
      <span class="ob-highlight">
      Made with 💜 by folks who’ve been there.
      </span>
    </p>
    <p class="text-gray-600">
      Orbit is built by developer advocates who understand the power of
      community. We want to help you deliver a stellar member experience,
      quantify your business impact, and become the next generation of community
      and DevRel leadership.
    </p>
  </div>

  <div
    class="mb-16 flex flex-row flex-wrap max-w-screen-sm px-4 md:px-0 mx-auto justify-center"
  >

    {{
      team_member(
        "patrick-woods-avatar.png",
        "Patrick Woods",
        "Co-Founder & CEO",
        "patrickjwoods",
        "in/patrickjwoods/",
        "patrickjwoods"
      )
    }}

    {{
      team_member(
        "josh-dzielak-avatar.png",
        "Josh Dzielak",
        "Co-Founder & CTO",
        "dzello",
        "in/dzello/",
        "dzello"
      )
    }}

    {{
      team_member(
        "nicolas-goutay-avatar.png",
        "Nicolas Goutay",
        "Software Engineer",
        "phacks",
        "in/nicolas-goutay-4b984258/",
        "phacks"
      )
    }}

    {{
      team_member(
        "alex-morton-avatar.png",
        "Alex Morton",
        "Software Engineer",
        "alexlsaltt",
        "in/alex-morton-creative/",
        "alexlsalt"
      )
    }}

    {{
      team_member(
        "chance-feick-avatar.png",
        "Chance Feick",
        "Software Engineer",
        "chance",
        "in/chancefeick/",
        ""
      )
    }}

    {{
      team_member(
        "ulrich-sossou-avatar.png",
        "Ulrich Sossou",
        "Software Engineer",
        "sorich87",
        "in/ulrichsossou/",
        "sorich87"
      )
    }}

    {{
      team_member(
        "guillaume-millot-avatar.png",
        "Guillaume Millot",
        "Product Manager",
        "MillotGuillaume",
        "in/guillaume-millot/",
        ""
      )
    }}

    {{
      team_member(
        "gareth-wilson-avatar.png",
        "Gareth Wilson",
        "Growth Lead",
        "_gw",
        "in/gareth-wilson-99101529/",
        ""
      )
    }}

    {{
      team_member(
        "rosie-sherry-avatar.png",
        "Rosie Sherry",
        "Community Lead",
        "rosiesherry",
        "in/rosiesherry/",
        "rosiesherry"
      )
    }}

    {{
      team_member(
        "amanda-quintero-avatar.png",
        "Amanda Quintero",
        "Operations Manager",
        "",
        "in/amanda-quintero-a17a0416/",
        ""
      )
    }}

    {{
      team_member(
        "ben-greenberg-avatar.png",
        "Ben Greenberg",
        "Developer Advocate",
        "RabbiGreenberg",
        "in/rabbigreenberg/",
        "bengreenberg"
      )
    }}

    {{
      team_member(
        "carmen-diaz-avatar.png",
        "Carmen Díaz",
        "Software Engineer",
        "",
        "in/carmen-diaz/",
        ""
      )
    }}

    {{
      team_member(
        "martyn-davies-avatar.png",
        "Martyn Davies",
        "Developer Relations Lead",
        "martynd",
        "in/martynrdavies/",
        ""
      )
    }}

    {{
      team_member(
        "malki-davis-avatar.png",
        "Malki Davis",
        "Software Engineer",
        "",
        "in/malki-davis/",
        "mxdavis"
      )
    }}

    {{
      team_member(
        "kevin-lewis-avatar.png",
        "Kevin Lewis",
        "Developer Advocate",
        "_phzn",
        "in/phazonoverload/",
        ""
      )
    }}

    {{
      team_member(
        "subramanian-veerappan-avatar.jpg",
        "Subramanian V.",
        "Data Scientist",
        "",
        "in/subramanian-veerappan-0a3210126/",
        ""
      )
    }}

  </div>
</div>
