{% from "../macros/separator.njk" import separator %}

<div class="max-w-screen-md mx-auto mt-10 mb-20 text-center">
  <p class="text-2xl text-gray-600 font-bold">Automatic profile creation</p>
  {{ separator() }}
</div>
<div
  id="single_view_block"
  class="screenshot-slanted w-full"
>
  <div
    class="relative overflow-visible max-w-screen-sm px-4 md:px-0 mx-auto"
    style="top: -50px;"
  >
    <img alt="" class="float-left mb-4" src="/assets/images/hero-screenshot.png" />
  </div>
</div>
