{% from "../macros/separator.njk" import separator %}

<div class="max-w-screen-md mx-auto mb-8 text-center">
  <p class="text-2xl text-gray-600 font-bold">Data tools that give you superpowers</p>
  {{ separator() }}
  <div class="mt-10 sm:flex sm:flex-row sm:items-start">
    <div class="sm:w-2/3 sm:px-8">
      <img
        alt=""
        class="px-4 sm:px-0 sm:float-right"
        src="/assets/images/devrel-search-box.png"
      />
    </div>
    <div class="mt-4 sm:mt-0 px-4 sm:pr-0 md:px-8 sm:w-1/3 flex flex-col text-left">
      <p class="text-2xl text-gray-600 font-bold mb-1">The unified search box for your community</p>
      <p class="text-lg leading-snug text-gray-600">
        Orbit search indexes and returns company names, locations, tags, notes,
        and profile data like top languages, the names of repos contributed to,
        and the content of relevant tweets. 
      </p>
    </div>
  </div>
  <div
    class="sm:relative mt-4 sm:-mt-28 sm:flex sm:flex-row-reverse sm:items-end md:items-center"
  >
    <div class="sm:w-2/3 sm:px-8">
      <img
        alt=""
        class="px-4 sm:px-0 sm:float-right"
        src="/assets/images/devrel-identity-resolution.png"
      />
    </div>
    <div class="mt-4 sm:mt-0 px-4 sm:pl-8 md:px-8 sm:w-1/3 flex flex-col text-left">
      <p class="text-2xl text-gray-600 font-bold mb-1">Intelligent Identity Resolution</p>
      <p class="text-lg leading-snug text-gray-600">
        View side-by-side comparisons of potential duplicates, allowing you to quickly
        clean your data. You’ll also see call-outs on individual profiles, alerting you
        to potential conflicts as you navigate Orbit.
      </p>
    </div>
  </div>
</div>
