{% from "../macros/separator.njk" import separator %}
{% from "../macros/features.njk" import double_feature_with_images %}

{%
  set feature_search_box = {
    image_src: "/assets/images/devrel-search-box.png",
    sections: [
      {
        title: "The unified search box for&nbsp;your community",
        content: "Orbit search indexes and returns company names, locations, tags, notes,
        and profile data like top languages, the names of repos contributed to,
        and the content of relevant tweets."
      }
    ]
  }
%}
{%
  set feature_identity_resolution = {
    image_src: "/assets/images/devrel-identity-resolution.png",
    sections: [
      {
        title: "Intelligent Identity Resolution",
        content: "View side-by-side comparisons of potential duplicates, allowing you to quickly
        clean your data. You’ll also see call-outs on individual profiles, alerting you
        to potential conflicts as you navigate Orbit."
      }
    ]
  }
%}

{{ double_feature_with_images("Data tools that give you superpowers", feature_search_box, feature_identity_resolution) }}
