<div class="max-w-screen-md mx-auto mb-20 text-center">
  <p class="text-2xl text-gray-600 font-bold">Never miss a moment</p>
  <hr class="w-16 mt-4 mb-10 border-4 border-purple-400 mx-auto" />
  <div class="mt-10 sm:flex sm:flex-row sm:items-center">
    <div class="sm:w-1/2 sm:px-8">
      <img
        class="sm:max-w-md px-4 sm:px-0 sm:float-right"
        src="/assets/images/activity-feed.png"
      />
    </div>
    <div class="px-6 mt-4 sm:mt-0 sm:px-0 sm:w-1/2 flex flex-col text-left">
      <div class="sm:w-2/3">
        <p class="text-xl text-gray-600 font-bold mb-4">Community feed</p>
        <p class="text-lg leading-snug text-gray-600 mb-8">
          Never miss an important question, comment, pull request, or any other
          essential activity,
          <strong>no matter where your community happens.</strong>
        </p>
        <p class="text-xl text-gray-600 font-bold mb-4">Automatic activity tracking</p>
        <p class="text-lg leading-snug text-gray-600">
          <strong>Connect directly to GitHub and Twitter</strong>, or use our
          API to automatically understand which developers are most active in
          your community.
        </p>
      </div>
    </div>
  </div>
</div>
