{% from "../macros/separator.njk" import separator %}
{% from "../macros/features.njk" import double_feature_with_images %}

{%
  set feature_search_box = {
    image_src: "/assets/images/devrel-metrics-1.png",
    sections: [
      {
        title: "Report with confidence",
        content: "Demonstrate the impact of your community investments with simple
        and powerful reporting."
      }
    ]
  }
%}
{%
  set feature_identity_resolution = {
    image_src: "/assets/images/devrel-metrics-2.png",
    sections: [
      {
        title: "Share the success",
        content: "Receive weekly reports about community engagement and top contributors.
        Share and celebrate with your team."
      }
    ]
  }
%}

{{ double_feature_with_images("Metrics that matter", feature_search_box, feature_identity_resolution, "sm:-mt-10") }}