<div class="hidden sm:block sm:w-2/3 sm:px-8">
    {% highlight "json" %}
{
  "description": "Getting Started with the Orbit Model",
  "link": "https://orbit-event.eventbrite.com/",
  "link_text": "See the event",
  "title": "Orbit Meetup Registration",
  "activity_type": "eventbrite:registration",
  "key": "eventbrite_attendee_id",
  "occurred_at": "2020-05-10",
  "member": {
    "github": "user-github",
    "email": "user@email.com"
  }
}
    {% endhighlight %}
</div>
