<div class="slanted-top maw-w-full bg-purple-400">
  <div class="flex flex-col max-w-screen-sm px-4 md:px-0 mx-auto items-center justify-center">
    <h1 class="mb-6 text-white text-4xl font-bold text-center leading-tight">
      Build relationships, not&nbsp;spreadsheets.
    </h1>
    <p class="mb-10 text-white text-xl text-center">
      Grow your community and prove ROI with Orbit, the <strong>community CRM</strong>
      for delivering stellar member experience.
    </p>
    <div class="mb-6 rounded">
      <button
        class="cursor-pointer px-5 py-3 shadow-bottom border border-transparent text-base leading-6 font-bold rounded text-purple-500 bg-white hover:text-purple-600 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
        @click="showModal = true"
      >
        Request access
      </button>
    </div>
    <div class="mb-10 flex flex-row flex-wrap justify-center text-white font-medium">
      <span>✓&nbsp;omni-channel&nbsp;tracking</span>
      <span class="ml-2">✓&nbsp;reports</span>
      <span class="ml-2">✓&nbsp;integrations</span>
    </div>
    <div class="flex flex-row flex-wrap justify-center items-center ">
      <img src="assets/images/logos/Nuxt.png" class="mr-8 mb-4" width="92" height="16" style="width: 92px; height: 16px;"/>
      <img src="assets/images/logos/Apollo.png"class="mr-8 mb-4" width="110" height="32" style="width: 110px; height: 32px;"/>
      <img src="assets/images/logos/Buoyant.png"class="mr-8 mb-4" width="121" height="24" style="width: 121px; height: 24px;"/>
      <img src="assets/images/logos/CircleCI.png"class="mr-8 mb-4" width="104" height="22" style="width: 104px; height: 22px;"/>
      <img src="assets/images/logos/Typeform.png"class="mb-4" width="73" height="40" style="width: 73px; height: 40px;"/>
    </div>
  </div>
  <div class="relative overflow-visible max-w-screen-sm px-4 md:px-0 mx-auto">
    <img class="float-left mb-10" src="assets/images/hero-screenshot.png" />
  </div>
</div>
<div class="clearfix"></div>