<div class="clip-path w-full mt-10 sm:mt-36 pb-36 bg-aubergine">
  <div class="sm:clearfix"></div>
  <div class="max-w-screen-sm px-4 mx-auto mt-24 flex flex-col items-center">
    <p class="text-white text-3xl font-bold">From the creators of the Orbit Model</p>
    <p class="mt-2 text-white">
      Orbit is not yet another CRM. Our founders created the Orbit Model as an
      alternative to the traditional sales and marketing funnel as a better way
      to model and measure communities, and this new approach is baked right
      into our product.
      <a href="#" class="underline" rel="noopener noreferer" target="_blank">Learn more ››</a>
    </p>
  </div>
</div>
<div class="w-full pt-10 pb-36 bg-aubergine flex flex-col items-center">
  <div class="rounded">
    <a href="#" class="px-5 py-3 shadow-bottom border border-transparent text-base leading-6 font-bold rounded text-aubergine bg-white hover:text-gray-800 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
      Request access
    </a>
  </div>
</div>