<div
  class="clip-path orbit-background w-full mt-10 sm:mt-36 pb-36 bg-aubergine"
>
  <div class="sm:clearfix"></div>
  <div class="max-w-screen-md px-4 mx-auto mt-24 flex flex-col items-center">
    <p class="text-white text-4xl font-bold text-center">
      From the creators of the Orbit Model
    </p>
    <p class="max-w-screen-sm mt-2 text-lg leading-tight text-white text-center">
      Orbit is not yet another CRM. Our founders created the Orbit Model as an
      alternative to the traditional sales and marketing funnel as a better way
      to model and measure communities, and this new approach is baked right
      into our product.
      <a href="https://github.com/orbit-love/orbit-model" class="underline" rel="noopener noreferrer" target="_blank"
        >Learn more ››</a
      >
    </p>
  </div>
</div>
<div class="w-full pt-10 pb-10 bg-aubergine flex flex-col items-center">
  <div
    class="px-8 py-3 rounded shadow-bottom bg-white hover:text-gray-800 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
  >
    <button
      class="text-base leading-6 font-bold text-aubergine"
      @click="showModal = true"
    >
      Request access
    </button>
  </div>
</div>
