<div class="my-10 mx-4 sm:px-0 sm:flex sm:flex-row sm:items-center max-w-screen-md sm:mx-auto border border-gray-300 rounded-md shadow">
  <div class="px-4 sm:w-1/2 sm:px-32 py-10">
    <p class="mb-2 text-purple-600 text-2xl font-bold">For DevRel and Community Teams</p>
    <p class="text-gray-600">
      Coordinate your efforts, automate reporting, and prove ROI.
      <a class="text-purple-500 underline" href="#">Learn more.</a>
    </p>
  </div>
  <div id="use_case_right" class="px-4 sm:w-1/2 sm:px-32 py-10">
    <p class="mb-2 text-purple-600 text-2xl font-bold">For Open Source Maintainers</p>
    <p class="text-gray-600">
      Attract and onboard more contributors.
      <a class="text-purple-500 underline" href="#">Learn more</a>
      about our free plan for maintainers. 
    </p>
  </div>
</div>