<div class="sm:relative my-10 max-w-screen-md mx-auto">
  <div class="sm:float-left">
    <div class="mx-4 sm:px-0 sm:flex sm:flex-row sm:items-center sm:mx-auto">
      <div
        id="use_case_left"
        class="bg-white z-10 px-4 sm:w-1/2 sm:px-12 py-10"
      >
        <p class="mb-2 text-purple-600 text-3xl leading-tight font-bold">
          For DevRel and Community&nbsp;Teams
        </p>
        <p class="text-gray-600 text-base sm:text-sm md:text-base">
          Coordinate your efforts, automate reporting, and prove ROI.
          <a class="text-purple-500 underline" href="/solutions/for-devrels/">Learn more.</a>
        </p>
      </div>
      <div
        id="use_case_right"
        class="bg-white z-10 px-4 sm:w-1/2 sm:px-12 py-10"
      >
        <p class="mb-2 text-purple-600 text-3xl leading-tight font-bold">
          For Open Source Maintainers
        </p>
        <p class="text-gray-600 text-base sm:text-sm md:text-base">
          Attract and onboard more contributors.
          <a class="text-purple-500 underline" href="/solutions/for-maintainers/">Learn more</a>
          about our free plan for maintainers.
        </p>
      </div>
    </div>
  </div>
</div>
