---
layout: page
title: About Orbit
description: We want to help you deliver a stellar community experience, quantify your business impact, and become the next generation of community and DevRel leadership.
eleventyNavigation:
  key: About Us
---
{% from "macros/typography.njk" import title %}

<div class="slanted-top max-w-full bg-purple-400">
  <div class="flex flex-col max-w-screen-sm px-4 md:px-0 mx-auto">
    {{ title("About Us") }}
  </div>
</div>

{% include "about/team.njk" %}
{% include "about/investors.njk" %}
{% include "newsletter-cta.njk" %}

<div class="mb-20"></div>
