/**
 * Smoothly animate the scroll position, instead of a straight jump.
 */
/*
html {
  scroll-behavior: smooth;
}
*/

/**
 * Disable animations if the user has turned on the a11y option for reduced motion due to 
 * vestibular disorders etc.
 * 
 * @link https://css-tricks.com/introduction-reduced-motion-media-query/#article-header-id-3
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    transition-duration: 0.01s !important;
  }
}

/**
 * ::selection selector: color, background, cursor, and outline.
 */
::selection {
  @apply bg-purple-500 text-white;
}

/**
 * `x-cloak` attributes are removed from elements when Alpine initializes. 
 * This is useful for hiding pre-initialized DOM.
 * 
 * @link https://github.com/alpinejs/alpine#x-cloak
 * 
 */
[x-cloak] {
  @apply hidden;
}

/**
 * Selectively disable the default focus style by selecting for the case when the polyfill 
 * is loaded and [data-focus-visible-added] attribute is not applied to the element:
 *
 * @link https://github.com/WICG/focus-visible#2-update-your-css
 */
.js-focus-visible :focus:not([data-focus-visible-added]) {
  @apply outline-none;
}

/**
 * Global styles
 */

body {
  font-family: inter, 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/**
 * Tailwind components styles 
 */

.header_link__desktop {
  @apply ml-8 font-medium text-white transition duration-150 ease-in-out;
}

.header_link__desktop:hover {
  @apply text-gray-900;
}

.header_link__desktop:focus {
  @apply outline-none text-gray-900;
}

.header_link__mobile {
  @apply block px-3 py-2 rounded-md text-base font-medium text-gray-700 transition duration-150 ease-in-out;
}

.header_link__mobile:hover {
  @apply text-gray-900 bg-gray-100;
}

.header_link__mobile:focus {
  @apply outline-none text-gray-900 bg-gray-100;
}

#newsletter_cta {
  background-image: url('images/love-letter-emoji.png');
  background-repeat: no-repeat;
  background-position: 15px 14px;
  background-size: 20px 20px;
  padding-left: 45px;
}

#use_case_left {
  border-radius: 7px 0px 0px 7px;
  border-top: 1px solid #d3d6da;
  border-left: 1px solid #d3d6da;
  border-bottom: 1px solid #d3d6da;
  box-shadow: 0px 3px 0 rgba(108, 77, 246, 0.15);
}

#use_case_right {
  border-radius: 0px 7px 7px 0px;
  border: 1px solid #d3d6da;
  box-shadow: 3px 3px 0 rgba(108, 77, 246, 0.15);
}

/**
 * Slant variables
 */

:root {
  --magic-number: 0.0262; /* tan(3°)/2 */
  --content-width: 100vw;
  --skew-padding: calc(var(--content-width) * var(--magic-number));
  --skew-margin: calc(2 * var(--content-width) * var(--magic-number));
}

/**
 * Hero slant 
 */

#hero {
  position: relative;
  margin-bottom: var(--skew-margin);
  padding-bottom: var(--skew-padding);
}
#hero:before,
#hero:after {
  position: absolute;
  background: inherit;
  content: '';
  display: block;
  height: 75%;
  left: 0;
  right: 0;
  z-index: -1;
}

#hero:before {
  top: 0;
  transform: skewY(0deg);
  transform-origin: 0% 0;
}

#hero:after {
  bottom: 0;
  transform: skewY(-3deg);
  transform-origin: 100%;
}

/**
 * Orbit Model slant (using clip-path so that the background image isn’t distorted)
 */

.clip-path {
  position: relative;
  margin-top: calc((var(--skew-padding) * -1) - 2px);
  background-image: url('images/orbit-observatory-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: calc(
      (var(--skew-padding) * 2) - (var(--skew-padding) - var(--skew-padding))
    )
    0 4em;
  clip-path: polygon(
    0% calc(var(--skew-padding) * 2),
    100% 0%,
    100% 100%,
    0% 100%
  );
  -webkit-clip-path: polygon(
    0% calc(var(--skew-padding) * 2),
    100% 0%,
    100% 100%,
    0% 100%
  );
  border-bottom: 1px solid #2a123f;
}
