<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="bg-white antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="puPxunTT1ZsUcpiocDLnr5Ofz7yGjlfJy4P584bezmU" />
    <title>{{ renderData.title or title or meta.title }}</title>
    {% if build.env === 'production' %}
      <script src="https://dog.orbit.love/script.js" data-site="XEYVCUXY" defer></script>
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/main.css' | url }}" />
    <link rel="stylesheet" href="{{ '/prism.css' | url }}" />
    {% include "meta.njk" %}
  </head>
  <body class="text-gray-900 leading-normal">
    <div hidden>{% svgsprite %}</div>
    <a href="#content" class="sr-only">skip to main content</a>
    <div
      role="document"
      class="min-h-screen flex flex-col"
      x-data="{ showModal: false }"
      @keydown.escape="showModal = false"
      @togglemodal="showModal = $event.detail.value"
    >
      <main class="flex-grow w-full">
        {{ content | safe }}
      </main>
      {% include "early-access-form.njk" %}
    </div>
    <script src="{{ '/assets/main.js' | url }}"></script>
    <!-- LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
  </body>
  {% include "alpine-methods.njk" %}
</html>
