<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="bg-white antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ renderData.title or title or meta.title }}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149604794-1"></script>
    <link rel="stylesheet" href="{{ '/assets/main.css' | url }}" />
    <link rel="stylesheet" href="{{ '/prism.css' | url }}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    {% include "meta.njk" %}
  </head>
  <body class="text-gray-900 leading-normal">
    <div hidden>{% svgsprite %}</div>
    <a href="#content" class="sr-only">skip to main content</a>
    <div
      role="document"
      class="min-h-screen flex flex-col"
      x-data="{ showModal: false }"
      @keydown.escape="showModal = false"
      @togglemodal="showModal = $event.detail.value"
    >
      <main class="flex-grow w-full">
        {{ content | safe }}
      </main>
      {% include "early-access-form.njk" %}
    </div>
    <script src="{{ '/assets/main.js' | url }}"></script>
    <script>
    function initGoogleAnalytics() {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-149604794-1');
    }
    function deleteCookie(name) {
        document.cookie = name + '=; Path=/; Domain=.orbit.love; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
    function removeGoogleAnalyticsCookies() {
      deleteCookie('_ga');
      deleteCookie('_gid');
      deleteCookie('_gat_gtag_UA_149604794_1');
    }
    window.cookieconsent && window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#3937a3"
        },
        "button": {
          "background": "#e62576"
        }
      },
      "theme": "classic",
      "position": "bottom-right",
      "type": "opt-in",
      "content": {
        "href": "https://orbit.love/privacy-policy/"
      },
      "onInitialise": function(status) {
        if(status == cookieconsent.status.allow) initGoogleAnalytics();
      },
      "onStatusChange": function(status) {
        if (this.hasConsented()) initGoogleAnalytics();
        if (!this.hasConsented()) removeGoogleAnalyticsCookies();
      }
    });
    </script>
    
    <!-- LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
  </body>
</html>
