---
layout: page
title: Orbit for Open Source Maintainers
description: Orbit helps connect with the people behind the PRs.
eleventyNavigation:
  key: Open Source Maintainers
---
{% from "macros/typography.njk" import tagline, title %}
{% from "macros/buttons.njk" import request_access_button %}
{% from "macros/separator.njk" import separator %}

<div class="slanted-top max-w-full bg-purple-400">
  <div
    class="flex flex-col max-w-screen-sm px-4 md:px-0 mx-auto items-center justify-center"
  >
    {{ title("Connect with the people behind the PRs.") }}
    {{
      tagline("
        Orbit helps open source maintainers understand metrics and identify new contributors.
      ")
    }}
    {{ request_access_button(inverted=true) }}
  </div>
</div>

<div class="pt-10">
  <div class="mb-16 flex flex-col max-w-screen-sm px-4 md:px-0 mx-auto">
    <p class="text-gray-600 text-4xl text-center leading-tight">
      Turn code into community.
    </p>
  </div>
</div>

{% include "for-maintainers/profiles.njk" %}
{% include "newsletter-cta.njk" %}
{% include "for-maintainers/builders.njk" %}
{% include "for-maintainers/metrics.njk" %}

<div class="mt-10 max-w-screen-md mx-auto text-center">
  <p class="text-2xl text-gray-600 font-bold">Celebrate your core contributors</p>
  {{ separator() }}
  <img
    alt=""
    class="px-4 sm:px-0 w-full"
    src="/assets/images/core-contributors.png"
  />
</div>

<div class="max-w-screen-md mx-auto mt-10 mb-20 text-center">
  <p class="text-2xl font-bold">Ready to try it?</p>
  <div class="mt-6">
    {{ request_access_button() }}
  </div>
</div>

<div class="mb-20"></div>
