---
layout: page
title: Orbit — Open Source Maintainers
eleventyNavigation:
  key: Open Source Maintainers
---

<div class="slanted-top max-w-full bg-purple-400">
  <div
    class="flex flex-col max-w-screen-sm px-4 md:px-0 mx-auto items-center justify-center"
  >
    <h1 class="mb-6 text-white text-4xl font-bold text-center leading-tight">
      Connect with the people behind the PRs.
    </h1>
    <p class="mb-10 text-white text-xl text-center">
      Orbit helps Open Source Maintainers drive contribution and deal with the
      details.
    </p>
    <div class="mb-6 rounded">
      <button
        class="cursor-pointer px-8 py-3 shadow-bottom text-base leading-6 font-bold rounded text-purple-500 bg-white hover:text-purple-600 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
        @click="showModal = true"
      >
        Request access
      </button>
    </div>
  </div>
</div>

<div class="pt-10">
  <div class="mb-16 flex flex-col max-w-screen-sm px-4 md:px-0 mx-auto">
    <p class="text-gray-600 text-4xl text-center leading-tight">
      Turn code into community.
    </p>
  </div>
</div>

{% include "for-maintainers/profiles.njk" %}
{% include "newsletter-cta.njk" %}
{% include "for-maintainers/builders.njk" %}
{% include "for-devrels/metrics.njk" %}

<div class="max-w-screen-md mx-auto mt-10 sm:mt-0 mb-20 text-center">
  <p class="text-2xl font-bold">Ready to try it?</p>
  <div class="mb-6 mt-6 rounded">
    <button
      @click="showModal = true"
      class="cursor-pointer px-8 py-3 shadow-bottom text-base leading-6 font-bold rounded text-white bg-purple-500 hover:text-gray-100 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
    >
      Request access
    </button>
  </div>
</div>

<div class="mb-20"></div>
