---
layout: page
title: Orbit for Open Source Maintainers
description: Orbit helps connect with the people behind the PRs.
eleventyNavigation:
  key: Open Source Maintainers
---

{% from "macros/typography.njk" import subhead, tagline, title %}
{% from "macros/buttons.njk" import get_started %}
{% from "macros/separator.njk" import separator %}
{% from "macros/features.njk" import single_feature_with_image, double_feature_with_images %}

<div class="slanted-top max-w-full bg-purple-400">
  <div
    class="flex flex-col max-w-screen-sm px-4 md:px-0 mx-auto items-center justify-center"
  >
    {{ title("Connect with the people behind the PRs.") }} {{ tagline("Orbit
    helps open source maintainers understand metrics and triage new
    contributors. ") }} {{ get_started(inverted=true) }}
  </div>
</div>

{{ subhead("Turn code into community.") }} 

{%
  set feature_profiles = {
    image_src: "/assets/images/profiles.png",
    sections: [
      {
        title: "View developer profiles",
        content: "View a developer’s favorite languages, areas of interest, and recent
            community activity at a glance.
            <strong>All automatically imported from GitHub</strong>."
      },
      {
        title: "Add activities via&nbsp;API",
        content: "Record members and contributions outside of GitHub via the Orbit API. Works great for
            contributions like documentation, events, and content."
      }
    ]
  }
%}
{{ single_feature_with_image(feature_profiles) }}

{% include "for-maintainers/builders.njk" %}

{% include "newsletter-cta.njk" %}

{%
  set feature_core_contributors = {
    title: "Celebrate your core contributors",
    image_src: "/assets/images/core-contributors.png",
    sections: [
      {
        title: "We’ll keep an eye on things",
        content: "Orbit will keep track of key moments across your community
        and let you know when Members achieve important milestones.
        Never miss a moment, and respond right from inside Orbit."
      }
    ]
  }
%}
{{ single_feature_with_image(feature_core_contributors) }}

{%
  set feature_search_box = {
    image_src: "/assets/images/maintainer-metrics-1.png",
    sections: [
      {
        title: "See what’s working, and&nbsp;where",
        content: "Understand the impact of your efforts across your community."
      }
    ]
  }
%}
{%
  set feature_identity_resolution = {
    image_src: "/assets/images/maintainer-metrics-2.png",
    sections: [
      {
        title: "Share the success",
        content: "Orbit generates daily and weekly community impact updates to help you stay in the loop."
      }
    ]
  }
%}
{{ double_feature_with_images("View activity across your community and repos", feature_search_box, feature_identity_resolution, "sm:-mt-8") }}

{% include "ready-to-try-it.njk" %}
